<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Database>
    <Type>SQLSERVER</Type>
    <ConnectionString>Data Source=localhost\sqlexpress;Initial Catalog=JeanieMoneyDev;User id=sa;Password=flhs1net;</ConnectionString>
  </Database>
  <Log>
    <FileAppender>
      <Level>debug</Level>
      <FilePath>.\JeanieMoney.log</FilePath>
      <FileCount>5</FileCount>
      <FileSize>1024000</FileSize>
      <Category>
        <DB>true</DB>
        <GUI>true</GUI>
        <LIB>true</LIB>
        <COMMON>true</COMMON>
      </Category>
    </FileAppender>
    <ConsoleAppender>
      <Level>debug</Level>
      <Category>
        <DB>true</DB>
        <GUI>true</GUI>
        <LIB>true</LIB>
        <COMMON>true</COMMON>
      </Category>
    </ConsoleAppender>
  </Log>
  <Layout>
    <Left>20</Left>
    <Top>30</Top>
  </Layout>
</Configuration>
