<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Database>
    <DbType>SQLSERVER</DbType>
    <DbConnectionString>Data Source=localhost\\sqlexpress;Initial Catalog=JeanieMoneyDev;User id=sa;Password=flhs1net;</DbConnectionString>
  </Database>
  <Log>
    <LogLevel>debug</LogLevel>
    <LogFullPath>.\money.log</LogFullPath>
    <LogFileCount>2</LogFileCount>
    <LogFileSize>1024000</LogFileSize>
  </Log>
</Configuration>
