<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JeanieMoney.Properties.Settings.JeanieMoneyConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=JeanieMoney;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JeanieMoney.Properties.Settings.ClientJeanieMoneyConnectionString"
            connectionString="Data Source=|DataDirectory|\JeanieMoney.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>