<?xml version="1.0" encoding="utf-8" ?>
<JeanieMoney>
  <Database>
    <DbType>SQLSERVER</DbType>
    <ConnectionString>Data Source=localhost\\sqlexpress;Initial Catalog=JeanieMoneyDev;User id=sa;Password=flhs1net;</ConnectionString>
  </Database>
  <Log>
    <LogLevel>debug</LogLevel>
    <LogFullPath>.\money.log</LogFullPath>
    <LogFileCount>2</LogFileCount>
    <LogFileSize>1024000</LogFileSize>
  </Log>
</JeanieMoney>
